<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_email" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="pdf_accounting" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pdf Attachment</label>
                <field id="customer_credit_email" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Credit Application Email to Accounting</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="copy_to_accounting" translate="label comment" type="text" sortOrder="111" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Email To Accounting</label>
                    <validate>required-entry validate-email</validate>
                </field>
            </group>
        </section>
    </system>
</config>
